<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{% static 'favicons/favicon.png' %}" />
	<link rel="stylesheet" href="{% static 'styles/default.css' %}" />
	<title>{% block title %}{% endblock title %}</title>
    <style>
        .center_block {
        	background-color: rgba(0, 0, 0, 0.7);
            text-shadow: 1px 1px 10px black;
        }
    </style>
</head>
<body>
	<div class="center_frame">
		{% block content %}
		{{ flatpage.content }}
		{% endblock content %}
	</div>
</body>
</html>
