{% extends 'default.html' %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}

{% block content %}
<div class="center_block">
	<h1>{{ post.title|censor }}</h1>
</div>
<div class="center_block">
	<p style="text-align:right;margin-right:50px;font-style:italic;">
	<p>{{ post.text|censor }}</p><br>
	<p style="text-align:right;margin-right:50px;font-style:italic;">
		{% current_time post.create_time %}<br>Рейтинг статьи: {{ post.rate }}<br></p>
</div>
<div class="center_block">
	<p><a href="/news">Назад</a></p>
</div>
{% endblock content %}