{% extends 'default.html' %}

{% block title %}
Новости
{% endblock title %}

{% load custom_tags %}
{% load custom_filters %}

{% block content %}
	<div class="center_block">
		<h1>Новости</h1>
	</div>
	{% if posts %}
		{% for post in posts %}
		<div class="center_block">
			<a href="{{ post.id }}"><h2>{{ post.title|censor }}</h2></a>
			<p>{{ post.preview|censor }}
			<a href="{{ post.id }}">Читать далее</a></p> <!-- А как это работает, объясните мне пожалуйста -->
			<p style="text-align:right;margin-right:50px;font-style:italic;">
				{% current_time post.create_time %}<br><br>
			</p>
		</div>
		{% endfor %}
	{% else %}
		<div class="center_block">
			<h2>Пока нет новостей, но возможно скоро будут...</h2>
		</div>
	{% endif %}
{% endblock content %}