body {
	margin: 0px;
	background-image: url(/static/backgrounds/background.jpg);
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding-left: 10px;
	padding-right: 10px;
}
@font-face {
	font-family: oswald_light; /* Задаем имя шрифта */
	src: url('/static/fonts/Oswald-Light.ttf'); /* Указываем местонахождение нашего шрифта */
	font-display: block;
}
.center_frame {
	width: 100%;
	max-width: 700px;
	box-shadow: 0px 1px 5px 0px #000000;
}
.center_block {
	font-family: oswald_light;
	text-align: center;
	color: white;
	font-size: 18px;
	box-sizing: border-box;
	border-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
}
#img_logo {
	width: auto;
	height: 200px;
}
#bottom {
	font-family: oswald_light;
	position: fixed;
	bottom: 5px;
	font-size: 8px;
	color: white;
}
h1 {
	margin: 0px;
}
p {
	margin: 0px;
}
#button {
	margin: 5px;
}
a:link {
	text-decoration: none;
	color: #ffffff;
}
a:visited {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
	color: #878787;
}
@media screen and (min-width: 701px) {
	#bottom {
		left: 5px;
	}
}
@media screen and (max-width: 700px) {
	#bottom {
		position: fixed;
		width: 100%;
		text-align:center;
		bottom: 5px;
		color: white;
	}
	#scary {
		visibility: hidden;
	}
}
